*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}
 .com{
    background:#187669;
    color: #FFF;
 }
 .com a{
    color: #FFF;

 }
 /* -- home -- */
.home{
    background:#187669;
     height: 85vh;
     display: flex;
     align-items: center; 
     color: #FFF;
    
}
.home a{
    color: #FFF;

}
.back {
    background-color: #187669;
     
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
   
    padding: 60px 30px;
     
}
   .lorem{
    margin-top: -3rem;
  }
  .lorem a{
    color: #FFF;
  }

  .imagee img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .mete{
    background:#FFF !important;
    box-shadow: #FFF !important;
  }
   